* {
  box-sizing: border-box;
}

body {
  background-color: #2d2d2d;
  height: 100vh;
  margin: 0;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.dashboard-unique-container {
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
}

.dashboard-unique-header {
  background-color: #0B0B0B;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.dashboard-unique-header-left {
  text-align: center;
  padding: 20px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.dashboard-unique-header-right {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

.dashboard-unique-header-right ul {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.dashboard-unique-header-right li {
  list-style: none;
  font-weight: 300;
  margin: 20px;
  font-weight: bold;
}

.dashboard-unique-profile-img {
  width: 20px;
  height: auto;
  filter: invert(1);
  margin: 0px 20px;
  cursor: pointer;
}

.dashboard-unique-header-right button {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  height: 35px;
  width: 140px;
  background-color: hsl(125, 100%, 67%);
  border: none;
  border-radius: 4px;
}

.dashboard-unique-header-right button:hover {
  background-color: hsl(125, 100%, 73%);
}

.dashboard-unique-content {
  display: flex;
  height: calc(100vh - 80px - 10px);
}

.dashboard-unique-sidebar {
  background-color: #0B0B0B;
  width: 250px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  border-top: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-unique-sidebar ul {
  margin: 0;
  color: white;
  padding: 0;
}

.dashboard-unique-sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #333;
  padding-left: 20px;
}

.dashboard-unique-sidebar ul li:hover {
  cursor: pointer;
}

.dashboard-unique-sidebar ul li:last-child {
  border-bottom: none;
}

.dashboard-unique-sidebar .dashboard-unique-top-links {
  margin-top: 2px;
}

.dashboard-unique-sidebar .dashboard-unique-bottom-links {
  margin-bottom: 2px;
}

.dashboard-unique-sidebar .dashboard-unique-bottom-links li:first-child {
  border-top: 1px solid #333;
}

.dashboard-unique-main-content {
  flex: 1;
  padding: 20px;
  position: relative;
}

.dashboard-unique-main-content-wrapper {
  overflow-y: auto;
  height: 100%;
}

.dashboard-unique-search-bar-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 100%;
  text-align: center;
}

.dashboard-unique-search-bar-wrapper {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 32px;
  padding: 5px;
  background-color: #fff;
  width: 80%;
  max-height: 1200px;
}

.upload-button, .dashboard-unique-search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
}

.dashboard-unique-search-bar {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 16px;
  color: #000;
  height: 40px;
  outline: none;
}

.fas, .fa-solid {
  font-size: 18px;
  color: #0b0b0b;
}

@media (max-width: 768px) {
  .dashboard-unique-header {
    flex-direction: column;
    align-items: center;
  }
  .dashboard-unique-header-left {
    padding: 10px;
    font-size: 18px;
  }
  .dashboard-unique-header-right {
    width: 100%;
    justify-content: center;
  }
  .dashboard-unique-header-right ul {
    flex-direction: column;
  }
  .dashboard-unique-header-right li {
    margin: 10px 0;
  }
  .dashboard-unique-header-right button {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .dashboard-unique-sidebar {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #0B0B0B;
    z-index: 1;
  }
  .dashboard-unique-sidebar.show {
    display: block;
  }
  .toggle-sidebar-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .dashboard-unique-main-content {
    padding: 10px;
  }
  .dashboard-unique-search-bar-container {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    width: 100%;
    padding: 10px;
  }
  .dashboard-unique-search-bar-wrapper {
    width: 100%;
    max-height: none;
  }
}

@media (max-width: 768px) {
  .dashboard-unique-search-bar {
    font-size: 14px;
    padding: 10px;
  }
}

.dashboard-unique-profile-card {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #30353C;
  color: #fff;
  padding: 15px 20px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dashboard-unique-credit {
  color: #c8f560;
  font-weight: bold;
}
