* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #424052;
    background: linear-gradient(to right, #1e1e1e, #121212);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-container {
    background-color: #1f1f1f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

.login-container p, .login-container span, .login-container a {
    color: #ffffff;
}

.login-container a {
    color: #a6a5ae;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.login-container button {
    background-color: #a6a5ae;
    color: white;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #686675;
}
.login-container button.login-hidden {
    background-color: transparent;
    border-color: #a6a5ae;
}

.login-container form {
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.login-container input {
    background-color: #333;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 50%;
    color: #ffffff;
    outline: none;
}

.login-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login-form-container h1 {
    color: white;
}

.login-form-container h1:hover {
    color: #9060cc;
}

.login-sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.login-container.login-container-active .login-sign-in {
    transform: translateX(100%);
}

.login-sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login-container.login-container-active .login-sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: login-move 0.6s;
}

@keyframes login-move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.login-social-icons {
    margin: 20px 0;
}

.login-social-icons a {
    border: 1px solid #444;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #333;
}

.login-social-icons a:hover {
    background-color: white;
    color: #3f3f3f;
}

.login-toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 50px 0 0 50px;
    z-index: 1000;
}

.login-container.login-container-active .login-toggle-container {
    transform: translateX(-100%);
    border-radius: 0 50px 50px 0;
}

.login-toggle-container h1 {
    color: white;
}

.login-toggle-container h1:hover {
    color: #a4a3bf;
}

.login-toggle {
    background-color: #282828;
    height: 100%;
    background: linear-gradient(to right, #717171, #282828);
    color: #121212;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.login-container.login-container-active .login-toggle {
    transform: translateX(50%);
}

.login-toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.login-toggle-left {
    transform: translateX(-200%);
}

.login-container.login-container-active .login-toggle-left {
    transform: translateX(0);
}

.login-toggle-right {
    right: 0;
    transform: translateX(0);
}

.login-container.login-container-active .login-toggle-right {
    transform: translateX(200%);
}
